<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Picture Me</title>
    <link rel="stylesheet" type="text/css" href="../resources/css/css-home.css">
    <script type='text/javascript' src="../resources/js/home-js.js"></script>
</head>
<body>
    <div class='header'>

    </div>
    <!-- <div style="transition: 0.5s;">
    <img src="../resources/images/bg-cl-home-1.jpg" id='imgHome' width="100px" height="100px">
    </div> -->
    <div class="cn-login" id='formLogin'>
        
    </div>

</body>
</html>